<h3 class="has-text-left is-size-3" id="principle-1">
  {{#if (is playbook "The Adamant")}}
    Restraint
  {{else if (is playbook "The Bold")}}
    Loyalty
  {{else if (is playbook "The Guardian")}}
    Self-Reliance
  {{else if (is playbook "The Hammer")}}
    Force
  {{else if (is playbook "The Icon")}}
    Role
  {{else if (is playbook "The Idealist")}}
    Forgiveness
  {{else if (is playbook "The Pillar")}}
    Support
  {{else if (is playbook "The Prodigy")}}
    Excellence
  {{else if (is playbook "The Rogue")}}
    Friendship
  {{else if (is playbook "The Successor")}}
    Tradition
  {{else if (is playbook "The Destined")}}
    Patience
  {{else if (is playbook "The Elder")}}
    Experience
  {{else if (is playbook "The Foundling")}}
    Unity
  {{else if (is playbook "The Razor")}}
    Control
  {{else}}
    Principle 1
  {{/if}}
</h3>